<div class="btn-container py-3 column">
  @if (return) {
  <button
    type="button"
    class="return btn btn-outline-primary text-white"
    [routerLink]="['/home']"
  >
    ← Volver
  </button>
  }@else {
  <button
    type="button"
    class="btn btn-outline-primary text-white"
    [routerLink]="['/user', myUser?._id]"
  >
    Ver
  </button>
  }
  <button
    type="button"
    class="btn btn-outline-primary text-white"
    [routerLink]="['/updateuser', myUser?._id]"
  >
    Actualizar
  </button>
  <button
    (click)="deleteUser(myUser?._id)"
    type="button"
    class="btn btn-outline-danger delete"
  >
    Eliminar
  </button>
</div>
