<div class="card text-white shadow p-2 rounded">
  <div class="avatar-container">
    <figure class="avatar">
      <img
        [src]="myUser.image"
        [alt]="myUser.first_name"
        class="img-fluid rounded-circle border border-dark border-2"
      />
    </figure>
  </div>
  <hr />
  <div class="text-container">
    <p class="fs-2">{{ myUser.first_name }}</p>
    <p class="fs-5">{{ myUser.last_name }}</p>
  </div>
  <app-buttons
    [myUser]="myUser"
    [return]="false"
    (deleteItemEmit)="deleteUser($event)"
  ></app-buttons>
</div>
