<section class="users">
  <div class="row g-4 justify-content-cente mt-1 mx-3">
    <div class="d-flex justify-content-between py-3">
      <button class="btn btn-warning" (click)="gotoPrev()">Anterior</button>
      <button class="btn btn-warning" (click)="gotoNext()">Siguiente</button>
    </div>
    @for (user of arrUsersObservable; track user._id) {
    <article class="col-12 col-md-6 col-lg-3">
      <div
        app-user-card
        [myUser]="user"
        (deleteItemEmit)="deleteUser($event)"
      ></div>
    </article>
    }
  </div>
</section>
